:root {
    --color-white: #ffffff;
    --color-black1: #000000;
    --color-black2: #2c2c2c;
    --color-red1: #7a0000;
    --color-red2: #ff4040;
    --color-green1: #627254;
    --color-green2:#33392A;
    --color-bege: #aa9d7c;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
} 

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


#root{
  display: flex;
  flex-direction: column;
height: 100vh;
}