*{
    margin: 0px;
    padding: 0px;
}

.titulos{
    font-size: 20px;
    color: var(--color-green1);
}

.container{
    max-width: 1170px;
    margin: auto;
}
.footer{
    padding: 10px 50px;
    
    
}
.linha{
    display: flex;
    justify-content: space-between;
    
}
.fonte{
    font-size: 17px;
}
.imgsocialmedia {
    width: 30px;
    height: 30px;
}
