footer{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bege);
    color: var(--color-black1);
}

.left{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2vw;
}

.center{
    display: flex;
    flex-grow: 3;
    justify-content:space-around;
}
.right{
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    margin-right: 2vw;
}
